<div class="container">
  <div class="col-md-11">
    <h1 class="title">投稿画面</h1>
    <%= image_tag 'niji2.jpg' %>
    <div class="article-block">
      <%= render partial: 'form', article: @article %>
    </div> 
  </div>
</div>
