.header {
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  .header-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbf1eb;
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 20px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-right: 50px;
      } 
    }
  }
  
}




